.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--input-height);
  padding: 12px;
  color: var(--color-black);
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    border: var(--border);
    border-radius: var(--border-radius);
    transition: background-color var(--transition-duration) ease;
  }

  &:active {
    scale: 1.05;
  }
}
