.card__lists {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  max-width: 400px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.card img {
  height: 440px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.card h3 {
  font-size: 22px;
  color: var(--color-white);
  margin: 0 auto;
}
