.card__lists {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  max-width: 400px;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.card img {
  height: 440px;
  width: 400px;
  object-fit: cover;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.card h3 {
  font-size: 22px;
  color: var(--color-white);
  margin: 0 auto;
}

.card__link {
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
}

.card__link:hover {
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration) ease;
}
