.header {
  margin-top: 20px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  position: relative;
}

.header__title {
  font-size: 36px;
  color: var(--color-white);
  margin-left: -14px;
}

.header__menu {
  display: flex;
  gap: 40px;
}

.header__menu a {
  text-decoration: none;
  color: var(--color-white);
}

.header__menu a:hover {
  opacity: 0.7;
  transition: opacity var(--transition-duration) ease;
}
