body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-black);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: 2px dashed var(--color-white);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
